body,html{
    margin: 0%;
    max-width: 100%;
    padding: 0%;
}
h2{
    padding-top: 20%;
    color:gray;
    
}
h2:hover{
    color:black;
}
header{
    width: 100%;
    position: fixed;
    background-color: brown;
}
li{
    display: inline-block;
}